.login-wrap{
    width: 100vw;
    height: 100vh;
    background: rgb(240,240,240);
    position: absolute;
    z-index: 10;
    //阻止默认选中文字
   -webkit-user-select: none;  
   -moz-user-select:none;  
   -o-user-select:none;  
   -ms-user-select:none;
    .login-form-wrap{
      //   width: 360px;
        cursor: pointer;
        height: 260px;
        position: fixed;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(-20px);
        background: rgba(255,255,255,.7);
        padding: 20px 30px;
        border-radius: 10px;
        input{
           background-color:  rgba(255,255,255,.8)!important;
        }
    }
}